@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body{
    margin-top: 50px;
    background-color: rgb(65, 64, 64);
    text-align: center;
    font: normal bold 1em;
}
header{
    color: white;
    background-color: rgb(98, 98, 218);
    padding: 1px;
    border-radius: 10px;
    margin: 0em 30em;    
}
h2{
    font-size: 2.5em;
}
section{
    background-color: white;
    margin: 100px auto;
    width: 1200px;
    padding: 50px;
    
    
}
input#red{
    box-shadow: 2px 2px 5px black;
    color: white;
    background-color: red;
    border-radius: 50%;
    font-size: 2em;
    font-family: 'Odibee Sans', cursive;
    width: 200px;
    height: 200px;
}
img audio{
    margin-left: 500px;
    width: 1200px;
    padding: 50px;    

}
div#res{
    font-size: 1.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}