@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
*{  font-size: 16px;
    margin: auto;
    text-align: center;
    color: white;
}
header{
    margin-top: 100px;
    max-width: 600px;
    width: 80%;
    color: white;
    background-color: #EB5E28;
    border-radius: 10px; 
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
}
h2{
    font-size: 2.5em;
}
section{
    background-color: rgb(56, 56, 56);
    max-width: 900px; 
    padding: 67px;
    border-radius: 50px  20px 50px 20px / 80px  30px 80px 30px;
    font-family: 'Sniglet', cursive;
}
input#red{
    box-shadow: inset -3px -2px 11px 9px rgb(0 0 0 / 64%);
    background-color: red;
    border-radius: 100%;
    font-size: 2em;
    font-family: 'Odibee Sans', cursive;
    width: 200px;
    height: 200px;
    color: black;
}
div#res{
    font-family: 'Sniglet', cursive;
}
@media screen and (max-width: 600px){
    *{
        font-size: 1em;
    }
    section{
        padding: 3px;
        margin: auto;
        font-size: 10px;
        padding: 50px;
    }
input#red{
        font-weight: 900;
    width: 100px;
    height: 100px;
    }
img{
    width: 350px;
}
}
